<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.shangbb.studysample"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.CALL_PHONE"/>
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:name=".SysApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".sample.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <!--customView-->
        <activity
            android:name=".sample.customview.CustomViewActivity"
            android:label="@string/title_activity_custom_view">
        </activity>
        <activity android:name=".sample.customview.PicViewActivity"/>
        <activity android:name=".sample.customview.CheckViewActivity"/>
        <activity android:name=".sample.customview.LeafloadingViewActivity"/>
        <activity android:name=".sample.customview.KeyboardActicity"/>

        <!--RecylerView-->
        <activity android:name=".sample.recylerview.RecylerViewActivity"/>

        <activity android:name=".sample.recylerview.Demo1Activity"/>
        <activity android:name=".sample.recylerview.Demo2Activity"/>
        <activity android:name=".sample.recylerview.Demo3Activity1"/>
        <activity android:name=".sample.recylerview.Demo3Activity2"/>
        <activity android:name=".sample.recylerview.Demo4Activity"/>
        <activity android:name=".sample.recylerview.Demo5Activity"/>
        <activity android:name=".sample.recylerview.DiffActivity"/>

        <!--IPC-->
        <activity android:name=".sample.ipc.IpcActivity"/>

        <activity android:name=".sample.ipc.messenger.IPCMessengerActivity"/>
        <service android:name=".sample.ipc.messenger.KMessengerService"
            android:process=":bbsMessenger"/>

        <activity android:name=".sample.ipc.aidl.AidlActivity"/>
        <service
            android:name=".sample.ipc.aidl.AidlService"
            android:process=":bbsAidl">

            <intent-filter>
                <action android:name="com.bbshang.aidl"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>

        </service>

    </application>

</manifest>